.home-block1{
    background-image: url("../../../../static/img/home/bar-block.png");
    background-position: bottom;
    background-repeat: repeat-x;
}
.home-block1-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 12px 56px 12px;
    max-width: 1200px;
    margin: auto;
}

.home-block1-item{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(18, 21, 26, 0.35), 0px 6px 12px rgba(0, 102, 255, 0.1);
    border-radius: 18px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0 12px 24px 12px;
}
.home-block1-item>.home-block1-item-svg{
    width: 64px;
    height: 64px;
}
.home-block1-item>h2{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #14171A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    font-family: Barlow700;
}
.home-block1-item>p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(20, 23, 26, 0.8);
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}
@media (max-width: 512px) {
    .home-block1-box{
        grid-template-columns: 1fr;
    }
    .home-block1-item>.home-block1-item-svg{
        width: 32px;
        height: 32px;
    }
}
