/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homePage{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.homeBG{
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
    max-width: 1400px;
    z-index: -1;
    width: 1400px;
}
@media (max-width: 512px) {
  .homePage{
    background-position: top center;
  }
}
